<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			 <link href='https://www.google.com/fonts#UsePlace:use/Collection:Libre+Baskerville:400,700' rel='stylesheet' type='text/css'>
    			<link href='https://www.google.com/fonts#UsePlace:use/Collection:Lato:400,700' rel='stylesheet' type='text/css'>

		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="{{site.url}}/assets/resume2016.pdf">Resume</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/ms-mckee">github.com/ms-mckee</a></li>
				</ul>
			</footer>
		</body>
	</html>
